@model ManagmentApplication.Models.ArchivosAdjunto

@{
    ViewData["Title"] = "Create";
}

@section Scripts {
    <!-- plugins:js -->
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/template.js"></script>
    <script src="~/assets/js/settings.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/assets/js/file-upload.js"></script>
    <script src="~/assets/js/typeahead.js"></script>
    <script src="~/assets/js/select2.js"></script>
    <!-- End custom js for this page -->
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<h1>Create</h1>

<h4>ArchivosAdjunto</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdTarea" class="control-label"></label>
                <select asp-for="IdTarea" class="form-control" asp-items="ViewBag.IdTarea"></select>
                <span asp-validation-for="IdTarea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreArchivo" class="control-label"></label>
                <input asp-for="NombreArchivo" class="form-control" />
                <span asp-validation-for="NombreArchivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RutaArchivo" class="control-label"></label>
                <input asp-for="RutaArchivo" class="form-control" />
                <span asp-validation-for="RutaArchivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
